<img src="{{ item().imagePath }}" alt="{{ item().imageAlt }}">
<div class="details">
  <h3>{{ item().title }}</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nostrum?</p>
  <div class="price-quantity">
    <h2 class="price">$ {{ item().price }}</h2>
    <div class="quantity">
      <button (click)="onMinusClicked()">
        <i class="icon-minus fa-solid fa-minus"></i>
      </button>
      <span>{{ quantity() }}</span>
      <button (click)="onPlusClicked()">
        <i class="icon-plus fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
</div>


