.mat-title-large {
  font-size: 2.4rem;
}
.center {
  text-align: center;
}

.cart-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn-checkout {
  background-color: #37b24d;
}

.btn-clear {
  background-color: #e03131;
}

.cart-list {
  list-style: none;
}

.cart-list-item {

}
