<h1 mat-dialog-title class="mat-title-large center">
  Total Bill: $ <span>{{ totalPrice() }}</span>
</h1>
<div class="cart-actions">
  <button class="btn-checkout">Checkout</button>
  <button class="btn-clear" (click)="onClearCart()">Clear Cart</button>
</div>
<div mat-dialog-content>
  <ul class="cart-list">
    @for (item of data(); track item.price){
      <app-store-item [details]="item" class="cart-item"/>
    }
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
