:host::before {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 500%;
  z-index: -1;
  content: '';
  background-size: cover;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%), url('https://www.transparenttextures.com/patterns/white-wall.png') repeat fixed;
  color: #333;
}
:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem 4rem;
  max-width: 120rem;
  margin: 0 auto;
}

@media only screen and (max-width: 62em) {
  :host {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  :host {
    grid-template-columns: repeat(2, 1fr);
  }
}


